import { Config } from '../types/Config';
import { Product, productSchema } from '../types/Product';
import { logBadProduct } from '../utils/logging';
import { urlToCheerio } from '../utils/urlToCheerio';

export const replaceMeConfig: Config = {
  name: '',
  baseUrl: '',
  maximumProductsOnPage: 0,
  fuckyTolerance: 0,
  categoryUrls: [''],
  scrape: async (url: string) => {
    const $ = await urlToCheerio(url);
    const collectedProducts: Product[] = [];

    $('.product-item').each((i, element) => {
      const product = $(element);

      const link = null;
      const name = null;
      const image = null;
      const price = null;
      const oldPrice = null;

      const parseRes = productSchema.safeParse({
        link,
        name,
        image,
        price,
        oldPrice,
      });

      if (parseRes.success) {
        collectedProducts.push(parseRes.data);
      } else {
        logBadProduct(parseRes);
      }
    });

    return collectedProducts;
  },
  shouldEnqueueLinks: (url: string) => false,
  enqueueLinks: async (url, requestQueue) => true,
  getNextPageUrl: (url: string) => '',
  getGender: (url: string) => ['Mens', 'Womens'],
};
